<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/EphemeRRR/to_the_third/master/app/assets/images/tournesol-butine.png);">
  <div class="container">
    <h1><strong>Bienvenue</strong> sur ce <strong>site de lecture</strong> et de présentation!</h1>
    <p>Le tournesol est le symbole de l'association <strong>Tournesol.app</strong> qui cherche à rendre plus transparent les travaux et enjeux à propos des algorythmes de recommandation.</p>
    <a class="btn btn-flat" href="https://tournesol.app/">Pour visiter l'appli Tournesol.app</a>
    <a class="btn btn-flat" href="/book/premiere_page">Pour commencer à lire...</a>
  </div>
</div>
