// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card {
	background-color: rgb(230,230,230);
	margin-bottom: 1rem;
	padding: 1rem 1rem;
	border-radius: 5px;
	box-shadow: 0 0.75rem 1.5rem rgba(0,0,0,0.2);
}